<header class="navbar navbar-static-top bs-docs-nav" id="top">
    <div class="container">
        

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                {% assign sorted_pages = site.pages | sort: "name" %}
                {% for p in sorted_pages %}
                    {% if p.isHome != true and p.hide != true and p.title !=  %}
                        <li {% if page.title == p.title %}class="active"{% endif %}>
                            <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% for p in site.links.header %}
                    <li>
                        <a href="{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
